* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1140px;
    margin: 0 auto;
}

.item__link {
    display: block;
    width: 360px;
    text-decoration: none;
}

.card {
    width: 360px;
    position: relative;
    margin-bottom: 30px;
}

.card:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
}


.item__pic {
    width: 100%;
}


.txt__box {
    padding: 20px;
}

.item__ttl {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 13px;
}

.item__dsc {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
}

.item__price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;

}

.card:hover .item__pic {
    filter: sepia(15%) brightness(30%);
}

/**/




.item__btm {
    text-decoration: none;
    border: 1px solid #ffff;
    display: flex;
    padding: 8px;
    pointer-events: all;
    align-items: center;
    background: none;
}

.add__box {
    background: none;
    display: none;
    position: absolute;
    top: 189px;
    justify-content: center;
    width: 100%;
    pointer-events: none;
}

.add__txt {
    margin-left: 11px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.card:hover .add__box{
    display: flex;
}


.item__btm:hover {
    box-shadow: 0 0px 8px #F16D7F;
}


.cart-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;
}

.product {
    position: relative;
}


.products {
    margin-bottom: 60px;
  }
  
  .products-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-bottom: 48px;
  }
  
  .products-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222;
  }
  
  .products-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
  }

  .button-box {
    display: flex;
    justify-content: center;
  }


.button {
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    transition-duration: 0.4s;
  }
  
  .button:hover {
    color: #FFFFFF;
    background: #F16D7F;
  }

.btn__del {
    position: absolute;
    top: 25px;
    right: 22px;
    width: 18px;
    height: 18px;
    font-size: 0;
    border: none;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/del.svg);
    cursor: pointer;
}

.product__content {
    display: flex;
    width: 652px,;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.product__img {
    width: 262px;
}

.product__desc {
    padding: 22px 97px 62px 31px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}

.product__name {
    margin-bottom: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #222222;
}

.product__price {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #EF5B70;
}


.product__qty {
    gap: 24px;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
}

.input__quantity {
    width: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #656565;
    text-align: center;
    border: 1px solid #EAEAEA;
}




















body {
    margin: 0;
    font-family: Lato, sans-serif;
}

.header {
    background: #222222;
    height: 74px;
    padding: 18px 16px;
    box-sizing: border-box;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }
}

@media (min-width: 768px) {
    .header {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.header i {
    color: #e8e8e8;
}

.userIcon,
.cartIcon {
    display: none;
}

@media (min-width: 768px) {
    .userIcon,
    .cartIcon {
        display: inline;
    }
}

.userIcon {
    margin-left: 25px;
    margin-right: 42px;
}

.searchIcon {
    margin-left: 41px;
}

.cartIconWrap {
    position: relative;
}

.cartIconWrap span {
    display: inline-block;
    width: 19px;
    height: 19px;
    color: white;
    background: #f16d7f;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    right: -8px;
    top: -19px;
    font-size: 12px;
    line-height: 19px;
}

.rightHeader {
    position: relative;
}

.basket {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 37px;
    background: white;
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-size: 14px;
}

@media (min-width: 340px) {
    .basket {
        font-size: 16px;
    }
}
@media (min-width: 552px) {
    .basket {
        width: 500px;
    }
}

.basketRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}

.basketHeader {
    font-weight: bold;
}

.basketTotal {
    font-weight: bold;
    text-align: right;
}
.hidden {
    display: none;
}



/*promo*/

.promo {
    height: 764px;
    background: #F1E4E6;
    margin-bottom: 65px;
}

.promo-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-left {
    width: 50%;
    margin-left: -225px;
}

.promo-title {
    padding-left: 64px;
}

.promo-right {
    max-width: 405px;
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
}

.promo-decor {
    color: #F16D7F;
}

/*catalog*/

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 65px;
    margin-bottom: 96px;
  }
  .catalog__item {
    position: relative;
  }
  .catalog__item__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .catalog__item__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
  }
  .catalog__item__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-align: center;
  }
  .catalog__item:hover img {
    filter: brightness(30%);
    transition-duration: 0.3s;
  }
  
  .item-big {
    grid-column: span 3;
  }

  .center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
  }


.features {
    display: flex;
    flex-direction: row;
    padding-top: 104px;
    padding-bottom: 104px;
    gap: 30px;
    background: #222;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 134px;
    width: 360px;
  }
  .feature__heading {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;
    margin-top: auto;
  }
  .feature__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    text-align: center;
  }

  .subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 97px;
    padding-bottom: 126px;
    background: url("img/bc-subscribe.svg") no-repeat left;
    background-size: cover;
  }
  
  .author {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 350px;
  }
  .author__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222;
    text-align: center;
  }
  
  .promotion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 557px;
  }
  .promotion__h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 168%;
    color: #222;
    text-align: center;
  }
  .promotion__h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 168%;
    color: #222;
    text-align: center;
  }
  .promotion__form {
    display: flex;
    min-height: 49px;
    margin-top: 32px;
  }
  .promotion__form input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    display: flex;
    align-items: center;
    opacity: 0.67;
    padding-left: 22px;
    background: #E1E1E1;
    border: 0;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    min-width: 256px;
  }
  .promotion__form button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #F16D7F;
    border: 0;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    min-width: 100px;
    transition-duration: 0.4s;
  }
  .promotion__form button:hover {
    background: #e80a2b;
    cursor: pointer;
  }


.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222224;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  .copyright-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-bottom: 0;
  }
  
  .social-links {
    display: flex;
    flex-direction: row;
    gap: 7px;
  }
  
  .social-link:hover .bc-path {
    fill: #F16D7F;
    transition-duration: 0.4s;
  }
  
  .social-link:hover .icon-path {
    fill: white;
    transition-duration: 0.4s;
  }



















